!!!
%html
  %head
    %title Prekix | Get ready for Kickstarter success!
    %link{:href => "css/kix-styles.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #container
      #container-top
        %img#clipboard.big-illustration-pusher{:height => "100", :src => "images/illustrations/clipboard.png", :width => "100"}/
        %h1#welcome
          Welcome to
          %span.orange PreKix
      / end container-top
      #container-bot
        %form
          %input.span3{:name => "user[email]", :size => 30, :type => "text"}/
          %input.span3{:name => "user[password]", :size => 30, :type => "password"}/
          %input.btn.btn-large.btn-block{:type => "submit", :value => "Login"}/
        %p.belowbtn
          Don't have an account?
          %a{:href => "signup.html"} Create one now.
      / end container-bot
    / end container


/auth format

/ %input{:name => "user[email]", :size => 30, :type => "text", :value => @user.email}
/ %input{:name => u"ser[password]", :size => 30, :type => "password"}
/ %input{:name => "user[password_confirmation]", :size => 30, :type => "password"}

/ %select{:name => "user[permission_level]"}
/   %option{:value => -1, :selected => @user.admin?}
/     Admin
/   %option{:value => 1, :selected => @user.permission_level == 1}
/     Authenticated user