@charset "UTF-8";

/* Import Bootstrap and Flat UI Stylesheets */

@import url("bootstrap.css");
@import url("flat-ui.css");


/* Kix Styling */

body { background-color: #1abc9c; }

.center { text-align: center; }

.orange { color: #e67e22; }

.cf { zoom: 1; }

.cf:before,

.cf:after { content: ""; display: table; }

.cf:after { clear: both; }


/****** Structural ******/

#container {
	margin: 50px auto;
	width: 300px;
}
	
#tasks-home #container {
	margin: 50px auto;
	width: 960px;
}

#container-top {
	background-color: #ecf0f1;
	width: 100%;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	padding: 20px 20px 5px 20px;
	clear: both;
}

#tasks-home #container-top {
	height: 60px;
	width: 940px;
	padding: 15px 0 5px 20px;
	background: url(../images/progress-bar.png) no-repeat right;
	background-color: #ecf0f1;
}

#flag {
	width: 127px;
	height: 32px;
	float: right;
	background: url(../images/days-left-flag.png) no-repeat right center;
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	padding: 6px 0 0 30px;
	margin-top: 6px;
}

#container-mid {
	background-color: #16a085;
	width: 100%;
	padding: 20px 20px 10px 20px;
	clear: both;
	text-align: center;
	color: #fff;
	font-size: 1.3em;
}

#container-bot {
	background-color: #ecf0f1;
	width: 100%;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	padding: 20px 20px 10px 20px;
}

#container-big {
	margin: 50px auto;
	width: 500px;
}

#container-big #container-top h1, {
	text-align: center;
}

#videohere {
	background: #000;
	width: 460px;
	height: 300px;
	margin: 0 auto;
}

#sidenav {
	width: 320px;
	background: #2c3e50;
	min-height: 635px;
	float: left;
}

#sidenav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li.cats {
	background: #34495e;
	font-size: 1.6em;
	letter-spacing: 1px;
	color: #fff;
	font-weight: bold;
	border: 2px solid #2c3e50;
	height: 60px;
	padding: 15px 0px 0px 20px;
	display: block;
	position: relative;
}

ul.dotted li {
	list-style: none;
	color: #2c3e50;
	float: left; 
	width: 47px;
	height: 30px;
	padding: 10px 0 0 0;
	margin: 0;
	font-size: 1.4em;
	background-image: url(../images/badge-off.png) middle no-repeat;
}

#badge {
	position: absolute;
	right: 13px;
	top: 8px;
}

#main-content {
	width: 100%;
	min-height: 635px;
	margin: 0;
	padding: 0;
}

#tasks-home #container #main-content {
	background-image: url(../images/mountain.png);
	background-size: 100%;
	width: 640px;
	margin-left: 320px;
}




/****** Text Elements ******/

#index h1, #loginpg h1, #signupnow h1 {
	float: left;
	width: 160px;
	font-size: 2.6em;
	margin: 15px 20px 0 0;
	display: inline;
}
#deadline h1 {
	font-size: 2.8em;
}
#deadline h2 {
	margin-bottom: 20px;
	line-height: 0.8em;
}
#container-top h1 {
	font-size: 2.6em;
}
#container-top h1.other {
	font-size: 3em;
	width: 700px;
	float: left;
}


/****** Form Styling ******/

input.span3 {
	width: 95%;
	font-size: 1.4em;
	color: #cccccc;
}
input.span3#date {
	width: 200px;
	height: 1.1em;
	font-size: 2.5em;
	text-align: center;
	margin: 5px 20px 20px 0;
}
#login {
  width: 140px;
  float: left;
  display: inline;
  margin: -3px 20px 10px 0;
}

#signup {
  width: 140px;
  float: left;
  display: inline;
  margin: -3px 0 10px 0;
}


/****** Images ******/

#clipboard {
	float:left; 
	margin: 0 20px 20px 0;
	display: inline;
}
img#cal {
	width: 60px;
	margin: 0 0 15px 0;
}









